.as-button-data {
    margin-top: 7px;
  }
  
  @media screen and (min-width: 775px) {
    .par-1 {
      font-size: 50px !important;
      color: white;
    }
    .par-2{
      color: white;
    }
  }
  
  @media screen and (max-width: 775px) {
    .par-1, .par-2 {
      color: white;
    }
    
  }
  
  @media screen and (max-width: 332px) {
    .profile {
      margin-top: 40px !important;
      margin-left: 35vw !important;
      max-width: 40vw !important;
      max-height: 40vw !important;
      min-width: 0px !important;
      min-height: 0px !important;
    }
    .mo-mo {
      margin-top: 10px !important;
      margin-left: 20px !important;
      width: 100vw;
    }
    .par-1, .par-2 {
      color: white;
      text-align: center;
    }
    .for-ix {
        margin-top: 20px !important;
    }
  }

  @media screen and (max-width: 1200px) {

  }

 